<%
  const d = new Date();
  const year = d.getFullYear();
%>

<footer>
  <p class="copyright">&copy; 2025 CSE Motors. All rights reserved.</p>
  <p>
    <a href="/trigger-error" title="Trigger test error">Trigger Error</a>
  </p>
</footer>